* {
  margin: 0;
  padding: 0;
}

a {
  color: #111;
  text-decoration: underline;
}
/* Nav */

nav {
  justify-self: end;
  padding-right: 1vw;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0em 1em 0em 1em;
  border-bottom: 0.2rem;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-style: solid;
  border-color: #222222;
  font-family: 'Helvetica Neue', sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: #222222;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 10vh;
}

header {
  justify-self: start;
  padding-left: 1vw;
}

/* Header */

#mynameis {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.333rem;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding-top: 3rem;
}

#marcus {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 9rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

/* Subheader */

h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
  padding-top: 1rem;
}

/* Main Text */

#me {
  justify-self: center;
  max-width: 100%;
  border-radius: 0.5rem;
  /* margin-left: 2rem; */
}

#mainText1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

#mainText2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  
}

@media only screen and (max-width: 900px) {

  #me {
    justify-self: center;
    margin-bottom: 2rem;
    margin-left: none;
  }
  
  #mainText1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  #mainText2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
}

.mainP {
  color: #111;
  font-family: 'Georgia', serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* The Game */

#gameContainer {
  display: grid;
  height: 100vh;
  background-color: #111;
}

#instructions {
  color: white;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

#tTl {
  font-size: 4rem;
}

/* Start Game Animation */

@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#s2s {
  font-family: 'Bungee Outline', cursive;
  font-size: 33px;
  animation: blink 1.5s linear infinite;
}

#letter {
  height: 7rem;
  width: 7rem;
  font-family: 'Staatliches', cursive;
  font-size: 7rem;
  text-align: center;
  justify-self: center;
  color: white;
  padding-bottom: 3rem;
}

#scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#score {
  color: white;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
}

#highScore {
  color: white;
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
}

#timer {
  color: white;
  text-align: center;
  font-family: 'Bungee Outline', cursive;
  font-size: 31px;
}

/* The Links */

#links {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.logo {
  height: 7.5rem;
  width: 7.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.1s;
}

.logo:hover {
  transform: scale(1.2);
  transition: 0.1s;
}

#gitHub {
  background-image: url(img/github_logo.png);
}

#codewars {
  background-image: url(img/codewars_logo.png);
}

#freeCodeCamp {
  background-image: url(img/freecodecamp_logo.png);
}
